 body {
            font-family: Arial, sans-serif;
            background: #fff0f6; 
            margin: 0;
        }

        nav {
            background: #4faaf6; 
            padding: 12px;
            text-align: center;
        }

        nav a {
            color: #ffffff;
            margin: 15px;
            text-decoration: none;
            font-weight: bold;
        }

        nav a:hover {
            color: #ffd6e8; 
        }

        h1 {
            color: #59bcf9;
            text-align: center;
            margin-top: 30px;
        }

        p {
            text-align: center;
            color: #444;
        }

        table {
            width: 60%;
            margin: 30px auto;
            border-collapse: collapse;
            background: #ffffff;
            border-radius: 10px;
            overflow: hidden;
        }

        table, th, td {
            border: 1px solid #59bcf9;
        }

        th {
            background: #d3e7e7; 
            color: #47add1;
            padding: 10px;
        }

        td {
            padding: 12px;
            text-align: center;
            color: #000000;
        }

        

        footer {
            text-align: center;
            padding: 15px;
            background: #507cfd;
            color: white;
            margin-top: 40px;
        }